$font-main: 'Montserrat', sans-serif;
$color-main: #3A4155;
$color-blue: #0F6BB1;
$color-white: #FFFFFF;
$color-grey: #737D87;
$color-grey-light: #ECECEC;

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: $color-white;
}

*::-webkit-scrollbar-thumb {
  background: #718da3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
  height: calc(100% - 60px);
}

.footer {
  flex: 0 0 auto;
}

body {
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: $color-main;
}

.container {
  max-width: 1121px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

@media (max-width: 1340px) {

  .main,
  .header,
  .footer {
    padding: 0 60px 0 0;
  }
}

@media (max-width: 1024px) {

  .main,
  .header,
  .footer {
    padding: 0;
  }
}

.js-modal:not(.active) {
  display: none;
}