@mixin font($font_name, $file_name, $weight, $style) {

  // Для подключения шрифтов
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// Подключение
@import 'fonts';
@import 'global';

// Стили

// Хедер
.header {
  padding: 0 90px;
  background-color: $color-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 24px;
    min-width: 150px;
    max-width: 150px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: left center;
    }

    &_mobile {
      display: none;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    width: 100%;
    padding-right: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: $color-white;
  }
}

.menu {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  background-color: $color-white;

  &__wrapper {
    height: 100%;
    background-color: $color-blue;
    overflow-y: auto;
  }

  &__top {
    position: relative;
    height: 123px;
    width: 60px;
    background-color: $color-blue;
    border-bottom: 1px solid $color-white;
    transition: all linear 0.2s;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 10px 15px;
    border-bottom: 1px solid $color-white;
    cursor: pointer;
    transition: all linear 0.2s;

    @media (min-width: 1024px) {
      &:not(.active):hover {
        background-color: #0a395b;
      }
    }

    .icon-placement {
      font-size: 16px;
    }

    .icon-winner-subscriptions {
      font-size: 24px;
    }

    .icon-coin-circle {
      font-size: 22px;
    }

    .icon-chess {
      font-size: 22px;
    }

    .icon-mail {
      font-size: 14px;
    }

    .icon-gift {
      font-size: 18px;
    }

    .icon-referral {
      font-size: 22px;
    }

    .icon-info {
      font-size: 22px;
    }

    .icon-logout {
      font-size: 22px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    font-size: 20px;
    color: $color-white;
  }

  &__text {
    display: none;
    margin-left: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__overlay {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .burger {
    height: 122px;
  }
}

.menu.active {
  .burger {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 33px;
    height: 33px;
    padding: 10px;

    &:hover {
      background-color: transparent;
    }

    .burger__line {
      width: 13px;
      background-color: transparent;

      &::after {
        top: 0;
        transform: rotate(-45deg);
        width: 13px;
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
        width: 13px;
      }
    }
  }

  .user {
    display: block;
    width: 100%;
  }

  .menu__top {
    width: 202px;
    padding: 16px 10px 13px 24px;
    border-bottom: 1px solid $color-grey-light;
  }

  .menu__wrapper {
    background-color: #F6F6F6;
  }

  .menu__item {
    width: 202px;
    color: $color-grey;
    border-bottom: 1px solid $color-grey-light;

    &.active {
      cursor: default;
      color: $color-white;
      background-color: $color-blue;

      .menu__icon {
        color: $color-white;
      }
    }

    @media (min-width: 1024px) {
      &:not(.active):hover {
        background-color: $color-grey-light;
      }
    }
  }

  .menu__icon {
    color: $color-grey;
  }

  .menu__text {
    display: block;
  }

  .menu__overlay {
    display: block;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  position: relative;
  padding: 0 12px;
  border: none;
  cursor: pointer;
  transition: all linear 0.2s;

  @media (min-width: 1024px) {
    &:hover {
      background-color: #0a395b;
    }
  }

  &_mobile {
    display: none;
  }
}

.burger__line {
  transition: none !important;
}

.burger__line,
.burger__line::before,
.burger__line::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: $color-white;
  transition: all linear 0.2s;
}

.burger__line::before {
  content: '';
  top: -6px;
  width: 25px;
}

.burger__line::after {
  content: '';
  top: 6px;
  width: 25px;
}

.timer {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 26px;
    color: $color-white;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 31px;
    font-size: 16px;
    font-weight: 700;
    color: $color-blue;
    border-radius: 6px;
    background-image: url(../img/timer-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;

    &+.timer__item {
      margin-left: 3px;
    }

    &:nth-child(even) {
      margin-right: 3px;
    }
  }
}

.top-balance {
  display: none;
  width: 155px;
  color: $color-white;

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__top-icon {
    font-size: 14px;
    margin-right: 4px;
  }

  &__box {
    margin-top: 4px;
  }

  &__value {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__icon {
    font-size: 14px;
  }
}

.user {
  display: none;
  width: 0;
  font-size: 14px;
  line-height: 17px;
  color: #F6F6F6;
  transition: all linear 0.2s;

  &__img {
    width: 48px;
    height: 48px;
    font-weight: 500;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__data {
    margin-top: 4px;
  }
}

@media (max-width: 1366px) {
  .header__title {
    margin-left: 40px;
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 1024px) {
  .header .container {
    padding: 0 9px;
  }

  .header__wrapper {
    height: 80px;
  }

  .timer {
    display: flex;
  }

  .top-balance {
    display: block;
  }

  .burger_mobile {
    width: 50px;
    height: 30px;
    padding: 0 7px;
  }

  .burger_mobile {

    .burger__line,
    .burger__line::before,
    .burger__line::after {
      width: 36px;
      height: 5px;
      border-radius: 16px;
    }

    .burger__line::before {
      top: -12px;
    }

    .burger__line::after {
      top: 12px;
    }
  }

  .header__logo {
    margin-left: 23px;
    margin-right: 15px;
    height: 64px;
    width: 64px;
    max-width: unset;
    min-width: unset;
  }

  .header__logo_desktop {
    display: none;
  }

  .header__logo_mobile {
    display: block;
  }

  .header__title {
    display: none;
  }

  .burger_mobile {
    display: flex;
  }

  .user {
    display: block;
  }

  .menu {
    right: unset;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all linear 0.1s;
    background-color: transparent;

    &__wrapper {
      overflow: unset;
      background-color: $color-white;
    }

    &__top {
      position: relative;
      height: 136px;
      padding: 21px 24px;
      border: none;
      background-color: $color-blue;

      .burger {
        position: absolute;
        top: 11px;
        right: 11px;
        width: 33px;
        height: 33px;
        padding: 10px;

        &__line {

          &::before,
          &::after {
            top: 0 !important;
            background-color: #D9D9D9 !important;
          }
        }
      }
    }

    &__list {
      height: calc(100% - 136px);
      overflow-y: auto;
    }

    &__item {
      height: 50px;
      padding: 10px 26px;
    }

    &__text {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .menu.active {
    transform: translateX(0);

    .menu__top {
      border: none;
      width: 100%;
    }

    .menu__item {
      width: 284px;
    }
  }

  .menu.active-for-mobile {
    .menu__wrapper {
      width: 100%;
    }

    .menu__top {
      height: 45px;
    }

    .user {
      display: none;
    }

    .burger {
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
    }

    .personal.active {
      top: 45px;
      height: calc(100% - 45px);
    }
  }

  .personal {
    position: fixed;
    top: 136px;
    left: 0;
    width: 0;
    height: 0;

    &.active {
      width: 100%;
      height: calc(100% - 136px);
    }
  }
}

@media (max-width: 680px) {
  .header__wrapper {
    height: 52px;
  }

  .burger {
    width: 16px;
    height: 32px;
    padding: 10px 0;
  }

  .burger__line,
  .burger__line::before,
  .burger__line::after {
    width: 16px !important;
    height: 2px !important;
    border-radius: 6px !important;
  }

  .burger__line::before {
    top: -4px !important;
  }

  .burger__line::after {
    top: 4px !important;
  }

  .header__logo {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-right: 11px;
  }

  .timer__title {
    font-size: 9px;
    line-height: 11px;
  }

  .timer__wrapper {
    margin-top: 5px;
    font-size: 18px;
  }

  .timer__item {
    width: 17px;
    height: 26px;
    font-size: 14px;

    &+.timer__item {
      margin-left: 1px;
    }

    &:nth-child(even) {
      margin-right: 1px;
    }
  }

  .top-balance {
    width: 81px;
    text-align: right;
  }

  .top-balance__title {
    font-size: 9px;
    line-height: 11px;
  }

  .top-balance__top-icon {
    font-size: 8px;
  }

  .top-balance__value {
    font-size: 12px;
    line-height: 15px;
  }

  .top-balance__icon {
    font-size: 9px;
  }
}

// main
.main {
  height: calc(100% - 60px);
  padding: 0 90px;
  background-color: #F5F5F5;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 8px;
    padding: 10px 15px 8px;
  }

  &__top {
    display: flex;
    width: 100%;
    gap: 8px;

    .box {
      width: 100%;

    }
  }

  &__left {
    width: calc(66.666% - 4px);
    height: calc(100% - 83px);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .box {
      width: calc((100% - 8px) / 2);
    }
  }

  &__right {
    height: calc(100% - 83px);
    width: calc(33.333% - 4px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
  }
}

.box {
  display: flex;
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  background-color: $color-white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 98px;
    max-width: 98px;
    height: 100%;
    border-right: 1px solid #DDE1E6;
  }

  &__icon {
    font-size: 30px;
    color: $color-blue;

    &.icon-coin-circle {
      font-size: 28px;
    }

    &.icon-hourglass {
      font-size: 30px;
    }

    &.icon-people {
      font-size: 28px;
    }

    &.icon-placement {
      font-size: 24px;
    }

    &.icon-chess {
      font-size: 28px;
    }

    &.icon-star {
      font-size: 28px;
    }

    &_mobile {
      display: none;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: $color-blue;
  }

  &__value {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;

    &-icon {
      margin-left: 4px;
      font-size: 15px;
      line-height: unset;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-blue;
  }

  &_half {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc((100% - 8px) / 2);
  }

  &_link {
    transition: all linear 0.2s;
    cursor: pointer;

    @media (min-width: 1024px) {
      &:hover {
        background-color: $color-grey-light;
      }
    }
  }

  &_token {
    .box__left {
      display: none;
    }
  }

  &_winning {
    .box__subtitle {
      display: none;
    }
  }

  &__add {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 53px;
    border-left: 1px solid #DDE1E6;
  }

  &_timer {
    .box__value {
      padding-top: 4px;
      font-size: 26px;
    }
  }
}

.box-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.rating {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all linear 0.2s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    border-radius: 4px;
    transition: all linear 0.2s;
  }

  &.active {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__btn {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 7px;
    font-size: 8px;
    line-height: 10px;
    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 4px;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      background-color: #0a395b;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 45px 137px 80px auto;
    border-bottom: 1px solid #DDE1E6;

    &+.rating__empty {
      display: none;
    }
  }

  &__head {
    .rating__cell {
      justify-content: center;
      min-height: 49px;
      color: $color-blue;

      &_text {
        justify-content: flex-start;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .icon-placement {
      font-size: 16px;
    }

    .icon-hourglass {
      font-size: 18px;
    }

    .icon-coin-circle {
      font-size: 18px;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    line-height: 12px;

    &+.rating__cell {
      border-left: 1px solid #DDE1E6;
    }
  }

  &__list {
    position: relative;
    height: calc(100% - 51px);
    overflow-y: auto;
    counter-reset: rating;

    .rating__cell {
      min-height: 37px;
      font-weight: 600;
    }

    .rating__item .rating__cell:first-child {
      justify-content: center;
      text-align: center;

      &::before {
        counter-increment: rating;
        content: counter(rating);
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #DDE1E6;
    }
  }

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
  }
}

.game {
  width: 100%;
  height: 100%;
  background-color: $color-white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (max-width: 1400px) {
  .main__wrapper {
    padding-top: 8px;
  }

  .box {
    min-height: 60px;
    max-height: 60px;
  }

  .main__left,
  .main__right {
    height: calc(100% - 68px);
  }
}

@media (max-width: 1280px) {
  .rating__head .rating__cell_text {
    padding: 4px;
  }

  .rating__cell {
    padding: 4px;
  }

  .rating__item {
    grid-template-columns: 45px 130px 70px auto;
  }
}

@media (max-width: 1024px) {
  .main {
    height: calc(100% - 80px);
  }

  .main__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 8px 9px;
  }

  .main__left {
    width: 100%;
    height: 750px;
  }

  .main__right {
    height: calc(100% - 850px);
    width: 100%;
    min-width: unset;
  }

  .box_timer {
    display: none;
  }

  .box_half {
    display: none;
  }

  .box-wrapper {
    display: none;
  }

  .box_token {
    display: flex;
  }

  .box_winning {
    .box__value-icon {
      display: none;
    }

    .box__subtitle {
      display: block;
    }
  }

  .box {
    width: calc((100% - 8px) / 2);
    min-height: 84px;
    max-height: 84px;
  }

  .box__icon.icon-coin-circle {
    font-size: 45px;
  }

  .box__icon.icon-people {
    font-size: 34px;
  }

  .box__icon.icon-placement {
    font-size: 32px;
  }

  .box__icon.icon-chess {
    font-size: 44px;
  }

  .box__icon.icon-star {
    font-size: 36px;
  }

  .box__title {
    font-size: 16px;
    line-height: 20px;
  }

  .box__value {
    font-size: 16px;
    line-height: 17px;

    &-icon {
      font-size: 12px;
    }
  }

  .box__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .box_half {
    flex-direction: row;

    .box__left {
      display: flex;
    }
  }

  .box__add {
    display: flex;
    width: 98px;
  }

  .rating__btn {
    display: none;
  }

  .rating__item {
    grid-template-columns: 80px 343px 168px auto;

    .rating__cell {
      justify-content: center;

      &:nth-child(2) {
        justify-content: flex-start;
        padding-left: 80px;
      }
    }
  }

  .rating__head {
    .rating__cell {
      justify-content: center;
    }

    .icon-placement {
      font-size: 21px;
    }

    .rating__cell_text {
      font-size: 16px;
      line-height: 100%;
    }

    .icon-hourglass {
      font-size: 24px;
    }

    .icon-coin-circle {
      font-size: 24px;
    }
  }

  .rating__cell {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 1000px) {
  .main__left {
    height: 550px;
  }

  .main__right {
    height: calc(100% - 650px);
  }
}

@media (max-width: 800px) {
  .main__left {
    height: 534px;
  }

  .main__right {
    height: calc(100% - 550px);
  }
}

@media (max-width: 767px) {
  .rating__item {
    grid-template-columns: 80px 290px 168px auto;
  }

  .rating__item .rating__cell:nth-child(2) {
    padding-left: 40px;
  }
}

@media (max-width: 680px) {
  .main {
    height: calc(100% - 52px);
  }

  .main__left {
    height: 332px;
  }

  .main__left {
    height: unset;
  }

  .main__right {
    height: calc(100% - 398px);
  }

  .box {
    min-height: 50px;
    max-height: 50px;
  }

  .box__icon {
    &.icon-coin-circle {
      font-size: 22px;
    }

    &.icon-people {
      font-size: 16px;
    }
  }

  .box__left {
    min-width: 50px;
    max-width: 50px;
  }

  .main__right .box__left {
    display: none !important;
  }

  .main__right .box__right {
    display: block;
    text-align: left;
    padding: 8.5px 10px 8.5px 15px;
  }

  .main__right .box__title {
    margin-bottom: 2px;
  }

  .box__title {
    width: 100%;
    align-self: center;
    font-size: 10px;
    line-height: 12px;
  }

  .box__add {
    width: 53px;
  }

  .box__icon_mobile {
    display: inline-block;
    margin-right: 10px;
    color: $color-blue;

    .icon-placement {
      font-size: 10px;
    }

    .icon-coin-circle {
      font-size: 13px;
    }

    .icon-chess {
      font-size: 12px;
    }

    .icon-star {
      font-size: 12px;
    }
  }

  .main__right .box__value {
    display: inline-flex;
    font-size: 16px;
    line-height: 20px;
  }

  .main__right .box__right {
    padding: 8px 10px;
  }

  .box__value {
    display: inline-block;
    margin-top: unset;
    font-size: 14px;
    line-height: 17px;
  }

  .box__subtitle {
    display: none !important;
  }

  .rating__item {
    grid-template-columns: 80px 200px 140px auto;

    .rating__cell {
      justify-content: flex-start;
      padding: 0 11px !important;

      &:first-child {
        justify-content: center;
      }
    }
  }

  .rating__head {
    .rating__cell {
      min-height: 26px;
    }

    .icon-placement {
      font-size: 12px;
    }

    .icon-coin-circle {
      font-size: 12px;
    }

    .icon-hourglass {
      font-size: 13px;
    }

    .rating__cell_text {
      font-size: 10px;
      line-height: 100%;
    }
  }

  .rating__list {
    height: calc(100% - 30px);

    .rating__cell {
      min-height: 29px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

@media (max-width: 530px) {
  .rating__item {
    grid-template-columns: 51px 140px 120px auto;
  }
}

@media (max-width: 414px) {
  .main__left {
    height: 280px;
  }

  .main__right {
    height: calc(100% - 346px);
  }

  .rating__item {
    grid-template-columns: 51px 140px 66px auto;
  }
}

@media (max-width: 360px) {
  .rating__item {
    grid-template-columns: 51px 120px 66px auto;
  }
}

// footer
.footer {
  padding: 0 90px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: $color-white;
  }

  &__logo {}

  &__img {}

  &__menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__item {}

  &__link {
    cursor: pointer;
    color: $color-main;
    transition: all linear 0.2s;

    &:hover {
      color: $color-blue;
    }
  }
}

@media (max-width: 1440px) {
  .content {
    height: calc(100% - 50px);
  }

  .footer__wrapper {
    height: 50px;
  }
}

@media (max-width: 1024px) {
  .content {
    height: 100%;
  }

  .footer {
    display: none;
  }
}

// menu content
.personal {
  height: 100%;
  width: 900px;
  padding: 16px 22px;
  background-color: $color-white;
  overflow-y: auto;
  transition: width linear 0.2s;

  &:not(.active) {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    // Закрытие пункта меню
    &.js-menu-content:not(.active) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    &+.personal__content {
      margin-top: 32px;
    }
  }

  &__content {
    width: 100%;
  }
}

.back {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  padding: 10px;
  background-color: transparent;
  border: none;
}

@media (max-width: 1280px) {
  .personal {
    width: 600px;
  }

  .personal__title {
    margin-bottom: 16px;
  }
}

@media (max-width: 1024px) {
  .active-for-mobile {
    .back {
      display: flex;
    }
  }

  .personal {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  .personal__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.stat {
  overflow-x: auto;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
  }

  &_winnings {
    .stat__item {
      grid-template-columns: 142px 162px 116px 170px auto;
    }
  }

  &_results {
    .stat__item {
      grid-template-columns: 142px 162px 116px auto;
    }
  }

  &_history {
    .stat__item {
      grid-template-columns: 218px 164px 134px auto;
    }
  }

  &_withdrawal {
    .stat__item {
      grid-template-columns: 100px 216px 165px auto;
    }
  }

  &_gifts {
    .stat__item {
      grid-template-columns: 110px 95px auto;
    }
  }

  &_referal {
    .stat__item {
      grid-template-columns: 100px 120px 120px auto;
    }
  }

  &__wrapper {
    position: relative;
    width: fit-content;
    border-radius: 8px;
  }

  &_head {
    background-color: #EAEAEA;

    .stat__cell {
      justify-content: center;
      text-align: center;
      font-weight: 700;
    }
  }

  &__list {
    border: 1px solid #EAEAEA;
  }

  &__item {
    display: grid;

    &:nth-child(even) {
      background-color: #F4F7FB;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 4px 24px;
    font-size: 12px;
    line-height: 15px;

    &+.stat__cell {
      border-left: 1px solid #EAEAEA;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    &-value {
      display: block;
      width: 114px;
      margin-left: 8px;
      padding-left: 24px;
    }
  }
}

@media (max-width: 1280px) {
  .stat__cell {
    padding: 4px 12px;
  }

  .stat__total-value {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .stat_winnings {
    .stat__item {
      grid-template-columns: 100px 130px 100px 90px auto;
    }
  }

  .stat_results {
    .stat__item {
      grid-template-columns: 100px 130px 100px auto;
    }
  }

  .stat_history {
    .stat__item {
      grid-template-columns: 128px 88px 87px auto;
    }
  }

  .stat_withdrawal {
    .stat__item {
      grid-template-columns: 74px 128px 87px auto;
    }
  }

  .stat_referal {
    .stat__item {
      grid-template-columns: 80px 100px 100px auto;
    }
  }
}

.tabs {

  &__btns {
    display: flex;
    gap: 8px;
    width: 100%;
    border-bottom: 2px solid $color-blue;
  }

  &__btn {
    width: 100%;
    height: 51px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px 8px 0px 0px;
    border: none;
    transition: all linear 0.2s;
    color: #3B4256;
    background-color: #EAEAEA;
    cursor: pointer;

    &.active {
      color: $color-white;
      background-color: $color-blue;
      cursor: default;
    }

    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }
  }

  &__wrapper {
    margin-top: 26px;
  }

  &__item {
    &:not(.active) {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .tabs__btn {
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .tabs__wrapper {
    margin-top: 16px;
  }
}

.subscription {

  &__status {
    width: fit-content;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #fb9e00;
    border-bottom: 2px solid #3B4256;

    &_active {
      color: #009F0B;
    }
  }

  &__subtitle {
    margin-top: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__rate {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 768px) {
  .subscription__status {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border-bottom: 1px solid #3B4256;
  }

  .subscription__subtitle {
    margin-top: 16px;
  }
}

.coin {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 5px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid $color-main;
    background-color: $color-white;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      color: $color-white;
      border: 1px solid $color-blue;
      background-color: $color-blue;

      .coin__price {
        border-top: 1px solid $color-white;
      }
    }
  }

  &__days {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }

  &__text {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }

  &__price {
    width: 80%;
    text-align: center;
    height: 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #000;
  }

  &__icon {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .coin {
    margin-top: 16px;
    gap: 11px;
  }

  .coin__item {
    width: 48px;
    height: 48px;
  }

  .coin__days {
    font-size: 12px;
    line-height: 12px;
  }

  .coin__text {
    font-size: 10px;
    line-height: 10px;
  }

  .coin__price {
    height: 20px;
    font-size: 12px;
    line-height: 12px;
  }

  .coin__icon {
    font-size: 9px;
  }
}

.payment {

  &__title {
    margin-top: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-grey;
  }

  &__wallet {
    font-size: 16px;
    line-height: 20px;
    color: $color-grey;

    span {
      font-weight: 700;
      color: #000;
    }
  }

  &__input {
    display: block;
    height: 47px;
    margin-top: 8px;
    padding: 4px 20px;
    font-size: 16px;
    border: 1px solid #EAEAEA;
    color: $color-grey;
    border-radius: 4px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 542px;
    gap: 10px;
    margin-top: 17px;

    &+.payment__btn {
      margin-top: 32px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 20px) / 3);
    height: 100px;
    padding: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background-color: #F6F6F6;
    border: 1px solid $color-grey;
    border-radius: 4px;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      background-color: #ececec;
    }
  }

  &__top {}

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
  }

  &__balance {
    font-weight: 700;
  }

  &__icon {
    font-size: 26px;
    color: $color-blue;
  }

  &__total {
    margin-top: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #737D87;
  }

  &__btn {
    margin-top: 8px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #737D87;
    background-color: #EAEAEA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      background-color: #f6f6f6;
    }
  }

  &__message {
    margin-top: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FB9E00;
  }
}

.label {
  display: inline-block;
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey;

  &_phone {
    position: relative;

    .input {
      padding-left: 36px;
    }
  }

  &__icon {
    display: flex;
    position: absolute;
    bottom: 13px;
    left: 12px;
  }

  &+.input {
    margin-top: 18px;
  }
}

.input {
  display: block;
  width: 100%;
  height: 47px;
  max-width: 224px;
  margin-top: 8px;
  padding: 4px 20px;
  font-size: 16px;
  border: 1px solid #EAEAEA;
  color: $color-grey;
  border-radius: 4px;

  &:focus {
    border: 1px solid $color-blue;
  }

  &+.input {
    margin-top: 18px;
  }
}

@media (max-width: 768px) {
  .payment__wallet {
    font-size: 14px;
    line-height: 17px;
  }

  .label {
    font-size: 14px;
    line-height: 17px;
  }

  .input {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .payment__wrapper {
    gap: 8px;
  }

  .payment__box {
    width: 100%;
    height: 60px;
    padding: 8px;
    font-weight: 700;
  }

  .payment__bottom {
    margin-top: 8px;
  }

  .payment__icon {
    font-size: 15px;
  }
}

.message {
  &__empty {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .message__empty {
    font-size: 14px;
    line-height: 17px;
  }
}

.profile {
  display: flex;
  flex-direction: column;

  .label {
    margin-top: 18px;
    font-size: 10px;
    line-height: 12px;
    color: #3B4256;
  }

  .input {
    height: 41px;
  }

  .btn {
    margin: 29px 0 16px;
  }
}

.radio {
  margin-top: 18px;

  &__title {
    font-size: 10px;
    line-height: 12px;
    color: #3B4256;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .label {
    display: flex;
    align-items: center;
    margin-top: 6px;
    display: flex;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
  }

  .input {
    display: flex;
    align-items: center;
    height: unset;
    margin-top: 0;
    margin-right: 4px;
  }
}

.btn {
  width: fit-content;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: $color-white;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 4px;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    color: $color-blue;
    background-color: $color-white;
  }
}

.referal {

  &__title {}

  &__link {
    display: inline-block;
    width: fit-content;

    margin-top: 16px;
    padding: 16px;
    border-radius: 6px;
    color: $color-white;
    background-color: $color-blue;
    border: none !important;
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 16px 0;
  }
}

.info {

  &__item {
    list-style-type: disc;
    margin: 36px 0 0 50px;

    &:first-child {
      margin-top: 20px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    color: $color-main;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .info__link {
    margin-top: 0;
  }
}

.modal {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 874px;
    width: calc(100% - 32px);
    background-color: $color-white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transform: translate(-50%, -50%);
  }

  &__container {
    position: relative;
    z-index: 2;
    padding: 32px;
  }

  &__close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    color: $color-blue;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-blue;
    text-align: center;
  }

  &__tabs {}

  &__btns {
    display: flex;
    gap: 32px;
    margin-top: 24px;
  }

  &__btn {
    width: calc((100% - 32px) / 2);
    text-align: center;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #8A8A8A;
    opacity: 0.8;
    border-bottom: 2px solid #A1A1A1;
    transition: all linear 0.2s;

    &:hover,
    &.active {
      color: #000;
      border-bottom: 2px solid $color-blue;
      opacity: 1;
    }

    &.js-tabs-btn:not(.active) {
      cursor: pointer;
    }
  }

  &__item {
    margin-top: 32px;

    &.js-tabs-item:not(.active) {
      display: none;
    }
  }
}

.politics {
  max-width: 742px;
  width: 100%;
  margin: 32px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  &__link {
    color: $color-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.whatsapp {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 12px;
    line-height: 12px;
  }

  .label_phone {
    margin-top: 24px;
  }

  .label__icon {
    bottom: 50%;
    transform: translateY(50%);
  }

  .label_phone .input {
    margin-top: 0;
  }

  .btn {
    margin-top: 16px;
  }
}

@media (max-width: 1024px) {
  .modal__container {}

  .modal__close {
    display: block;
  }

  .modal__btns {
    margin-top: 16px;
    gap: 16px;
  }

  .modal__item {
    margin-top: 24px;
  }

  .whatsapp .label_phone {
    margin-top: 16px;
  }

  .politics {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .modal__container {
    padding: 16px;
  }

  .politics {
    font-size: 12px;
    line-height: 14px;
  }
}

.game {

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    width: 100%;
    height: calc(100% - 125px);
    overflow-y: auto;
  }

  &_preview {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__title {
    width: 100%;
    margin: 64px auto 0;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $color-blue;
  }

  &__img {
    display: block;
    max-height: calc(100% - 114px);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 32px 0;
    object-fit: contain;
    object-position: center;
  }

  &__btns {
    display: flex;
    max-width: 650px;
    gap: 8px;
    width: 100%;
    margin: auto auto 64px;
    padding: 0 64px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc((100% - 8px) / 2);
    padding: 16px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    cursor: pointer;
    border-radius: 4px;
    transition: all linear 0.2s;

    &:hover {
      color: $color-blue;
      background-color: $color-white;
    }
  }
}

@media (max-width: 1366px) {
  .game__wrapper {
    height: calc(100% - 93px);
  }

  .game__title {
    margin-top: 32px;
  }

  .game__img {
    max-height: calc(100% - 80px);
    padding: 32px 0;
  }

  .game__btns {
    margin-bottom: 32px;
  }
}

@media (max-width: 1024px) {
  .fullscreen {
    .game {
      position: fixed;
      z-index: 300;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 680px) {
  .game__wrapper {
    height: calc(100% - 59px);
  }

  .game__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .game__img {
    max-height: calc(100% - 60px);
    padding: 16px 0;
  }

  .game__btns {
    margin-bottom: 16px;
  }

  .game__btn {
    padding: 12px;
    font-size: 14px;
    line-height: 17px;
  }
}

.notification {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 46px 60px;
  background-color: $color-white;
  box-shadow: 0 4px 10px 3px rgba(84, 84, 84, 0.2);
  border-radius: 4px;

  &::before {
    content: '';
    position: absolute;
    left: 80px;
    top: 100%;
    width: 104px;
    height: 36px;
    background-image: url('../img/rules-part.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &__text {
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    line-height: 41px;
    color: $color-blue;
  }

  &__picture {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 7px;
    bottom: -69px;
  }

  &__result {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #565C61;

    &_blue {
      color: $color-blue;
    }

    &_red {
      color: $color-red;
    }

    &_green {
      color: $color-green;
    }
  }
}

@media (max-width: 680px) {
  .notification__text {
    font-size: 24px;
    line-height: 32px;
  }
}

.rules {
  .game__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  &__title {
    max-width: 650px;
    width: 100%;
    margin: 80px auto 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  }

  &__box {
    max-width: 650px;
    width: 100%;
    padding: 43px 34px 54px 57px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }

  &__text {
    position: relative;
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: -26px;
      width: 10px;
      height: 24px;
      background-image: url('../img/!.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__picture {}
}

@media (max-width: 1366px) {
  .rules .game__wrapper {
    display: block;
  }

  .rules__title {
    margin-top: 32px;
  }

  .rules__box {
    margin-top: 32px;
    padding: 32px 32px 32px 49px;
  }
}

@media (max-width: 1366px) and (min-width: 1025px) {
  .rules__title {
    margin-top: 16px;
  }

  .rules__box {
    margin-top: 16px;
  }
}

@media (max-width: 1024px) {

  .rules__title,
  .rules__box,
  .game__btns {
    max-width: unset;
  }

  .rules__subtitle {
    font-size: 28px;
    line-height: 30px;
  }
}

@media (max-width: 680px) {
  .rules__title {
    margin-top: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .rules__box {
    margin-top: 16px;
  }

  .rules__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .rules__text {
    margin-top: 8px;

    &::before {
      top: -30px;
    }
  }

  .rules__box::before,
  .rules__picture {
    display: none;
  }
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    font-size: 34px;
    line-height: 1;
    color: $color-white;
    border-radius: 50%;
    background-color: $color-blue;

    &.countdown-css {
      animation-duration: 0.5s;
      animation-name: countdown;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  &:not(.none)+.game__inner {
    display: none;
  }
}

@keyframes countdown {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(150%);
  }
}

.result {
  .game__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game__btns {
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .result {
    .game__btn {
      width: 100%;
    }
  }
}

.game__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5px 16px 16px;
}

.game__area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.game__description {
  text-align: center;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  gap: 32px;

  &_bottom {
    justify-content: space-between;
  }

  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    span {
      display: inline-block;
      margin-left: 12px;
      color: #FB9E00;
    }
  }

  &__btn {
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-main;
    background-color: #DDE1E6;
    border: none;
    transition: all linear 0.2s;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #ececec;
    }
  }
}

@media (max-width: 1400px) and (min-width: 1025px) {
  .game__description {
    margin-bottom: 32px;
  }
}

@media (max-width: 680px) {
  .game__inner {
    padding: 16px;
  }

  .data {
    height: unset;
  }

  .data_bottom {
    flex-direction: column;
    gap: 8px;

    .data__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .data__btn {
      width: 100%;
      margin-top: 8px;
    }
  }

  .data__item {
    font-size: 12px;
    line-height: 15px;
  }

  .data__btn {
    font-size: 14px;
    line-height: 17px;
    padding: 12px;
  }

  .game__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}

.comparing {

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    width: 100%;
    padding: 32px 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: $color-white;
    background-color: #E092AA;
    border-radius: 4px;

    &_green {
      background-color: #92E09D;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    max-width: 368px;
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    background-color: #F6F6F6;
    border-radius: 8px;
  }

  &__answer {
    font-size: 16px;
    line-height: 20px;
    color: $color-main;
    background-color: transparent;
    border: none;
  }

  &__icon {
    margin-bottom: 7px;
    font-size: 53px;
    color: $color-blue;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      color: #718da3;
    }
  }
}

@media (max-width: 1400px) and (min-width: 1025px) {
  .comparing__top {
    gap: 16px;
  }

  .comparing__item {
    max-width: 220px;
    padding: 24px 16px;
    font-size: 32px;
    line-height: 38px;
  }

  .comparing__bottom {
    max-width: 320px;
    margin-top: 16px;
    padding: 24px;
  }

  .comparing__icon {
    margin-bottom: 4px;
    font-size: 46px;
  }
}

@media (max-width: 680px) {
  .comparing__top {
    gap: 8px;
  }

  .comparing__item {
    max-width: calc((100% - 8px) / 2);
    padding: 20.5px 16px;
    font-size: 32px;
    line-height: 39px;
  }

  .comparing__bottom {
    margin-top: 30px;
    padding: 30px;
  }

  .comparing__answer {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 480px) {
  .comparing__item {
    font-size: 24px;
    line-height: 38px;
  }
}

.examples {

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &__top {
    .examples__item:nth-child(odd) {
      background-color: #FDCF83;
    }
  }

  &__bottom {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #DDE1E6;

    .examples__item {
      cursor: pointer;
      transition: all linear 0.2s;

      &:hover {
        background-color: $color-grey-light;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: $color-main;
    border: none;
    border-radius: 4px;
    background-color: #F6F6F6;
  }
}

@media (max-width: 1100px) {
  .examples__item {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .examples__box {
    gap: 8px;
  }

  .examples__item {
    width: 84px;
    height: 84px;
    font-size: 32px;
    line-height: 39px;
  }
}

@media (max-width: 680px) {
  .examples__item {
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 370px) {
  .examples__item {
    width: 44px;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
  }
}

.find-number {
  margin: 8px 0;
  padding: 16px 0;
  border-radius: 4px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    width: 100%;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

    span {
      margin-left: 8px;
      font-size: 32px;
      line-height: 39px;
    }
  }

  &__wrapper {
    display: grid;
    gap: 10px;
    max-width: 80%;
    width: 100%;
    margin: 24px 0 0;
  }

  &__item {
    height: 42px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $color-white;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (max-width: 1400px) and (min-width: 1025px) {
  .find-number__title {
    padding: 6px 12px;
  }

  .find-number__title {
    span {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .find-number__item {
    height: 38px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .find-number__wrapper {
    margin-top: 80px;
  }

  .find-number__item {
    height: 80px;
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 680px) {

  .find-number__title,
  .find-number__wrapper {
    max-width: calc(100% - 30px);
  }

  .find-number__title {
    font-size: 14px;
    line-height: 16px;

    span {
      font-size: 28px;
      line-height: 32px;
    }
  }
}

.animation-blink {
  animation: blink .4s ease-in infinite alternate
}

@keyframes blink {
  100% {
    opacity: 0
  }
}

.animation-scale {
  animation: scale .4s ease-in infinite alternate
}

@keyframes scale {
  100% {
    transform: scale(0.4)
  }
}

.animation-rotate div {
  animation: rotate .6s linear infinite
}

@keyframes rotate {
  25% {
    transform: rotate(-15deg)
  }

  50% {
    transform: rotate(0)
  }

  75% {
    transform: rotate(15deg)
  }

  100% {
    transform: rotate(0)
  }
}

.find-number__item--green {
  background-color: #20bf35
}

.find-number__item--pink {
  background-color: #bf2051
}

.find-number__item--red {
  background-color: #bf2020
}

.find-number__item--yellow {
  background-color: #fbe200
}

.find-number__item--blue {
  background-color: #008bca
}